/* HeroSection.css */
.hero-background {
  background-image: url("/background_hero_section.png");
  background-size: auto 65%;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.hero-overlay {
  background-color: #1a2e1a;
  opacity: 0.85;
}

